.body-dark{
    background-color: rgb(106, 106, 106);
}



@media only screen and (max-width: 450px) {
    h5.over-ride{
        font-size: 25px !important;
    }
    p.over-ride{
        font-size: 15px !important;
    }
  }